---
import AppRouter from "src/components/AppRouter.jsx";

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Forgttn Soilder</title>
    <link rel="icon" type="image/svg+xml" href="src/images/utensils-solid-full.svg" />


  </head>
  <body>
    <AppRouter client:only="react" />
  </body>
</html>
